@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@700&display=swap");
* {
  box-sizing: border-box;
}

header {
  background-color: #1d2126;
}

body {
  margin: 0px;
}

.container {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.row {
  padding-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.row1 {
  padding-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

/* xs (телефон) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 { /* Extra Small */
    flex: 0 0 100%; /* колонка не будет сжиматься и разжиматься (значения 0 и 0), а будет заполнять 100% ширины */
    max-width: 100%;
  }
}
/* sm (планшет) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* md (ноутбук) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* lg (компьютер) */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
  .header {
    height: 80px;
  }
  .nav-mobile-menu {
    width: 15px;
    height: 15px;
    position: relative;
    top: -10px;
  }
  .nav-mobile-menu span {
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.25s ease-in-out;
  }
  .nav-mobile-menu span:nth-child(1) {
    top: 3px;
  }
  .nav-mobile-menu span:nth-child(2) {
    top: 7px;
  }
  .nav-mobile-menu span:nth-child(3) {
    bottom: 3px;
  }
  .nav-mobile-menu.active-menu span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .nav-mobile-menu.active-menu span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .nav-mobile-menu.active-menu span:nth-child(3) {
    transform: scale(0);
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 260px;
    width: 260px;
    transform: translateX(150%);
    opacity: 0;
    visibility: hidden;
  }
  .menu.active-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    top: 30px;
    background-color: #1d2126;
    height: 50px;
  }
  .menu.active-menu ul {
    flex-direction: column;
  }
}
.logo {
  display: flex;
  justify-content: center;
  background-color: #1d2126;
  padding-top: 10px;
  padding-bottom: 15px;
}

.menu {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: space-around;
  width: 755px;
  padding-bottom: 15px;
  font-family: "Open Sans";
}

@media (min-width: 991px) {
  .menu {
    overflow-x: hidden;
  }
  .menu a:hover {
    border: 2px solid;
    border-radius: 3px;
    color: #23b7a4;
    transition: 0.18s all ease-in-out;
  }
}
@media (max-width: 992px) {
  .menu a:focus {
    background-color: #23b7a4;
    color: white;
    border-radius: 2px;
    transition: 0.18s all ease-in-out;
  }
}
.menu ul {
  display: flex;
  justify-content: flex-start;
}

.menu li {
  float: left;
  width: 65px;
  height: 30px;
  margin-left: 15px;
}

.menu a {
  display: flex;
  width: 80px;
  height: 30px;
  margin-top: 5px;
  text-decoration: none;
  color: #a4aead;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  font-family: "Open Sans";
  font-weight: 600;
}

.menu li:hover {
  transition: 0.18s all ease-in-out;
}

.form-search-header {
  border: 2px solid #3a3f45;
  border-radius: 5px;
  width: 200px;
  height: 36px;
  font-size: 14px;
  padding-left: 8px;
  margin-left: 100px;
  color: #2c71b8;
}

.form-search-header input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  width: 160px;
  height: 33px;
  font-family: "Roboto", sans-serif;
  color: #a4aead;
  border-radius: 2px;
  vertical-align: middle;
  float: left;
}

::-webkit-input-placeholder {
  color: #a4aead;
}

.form-search-header input:focus {
  outline: none;
}

.form-search-header button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0;
  margin-top: -32px;
  margin-right: 0.5px;
  border-radius: 2px;
  background: url(./images/magnifier.png) no-repeat center;
  float: right;
}

.form-search-header button:hover {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0;
  margin-top: -32px;
  margin-right: 0.5px;
  border-radius: 2px;
  background-color: white;
  transition: 0.2s all ease-in-out;
}

.slider {
  background-image: url(images/slider.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 660px;
}

.slider-info {
  height: 527px;
}

.slider-text {
  position: relative;
  color: white;
  font-size: 36px;
  font-family: "Quattrocento Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;
}

.welcome, .lorem-text, .buttons-width {
  width: 615px;
}

#left-button {
  margin-left: 0;
}

.lorem {
  position: relative;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  line-height: 30px;
  margin-top: 15px;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% + 45px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Quattrocento Sans";
  color: white;
}

.button {
  display: inline-block;
  margin: 0 10px;
  width: 124px;
  font-size: 14px;
  border: 2px solid white;
  border-radius: 6px;
  text-align: center;
  padding: 14px;
  transition: 0.15s all ease-in-out;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #23b7a4;
  color: white;
  border: 2px solid #23b7a4;
}

main {
  border-bottom: 1px solid #dde1e4;
}

.title {
  color: black;
  font-family: "Quattrocento Sans";
  font-size: 36px;
  padding-top: 70px;
  padding-left: 15px;
}

p1::before {
  float: left;
  content: "";
  top: 1443px;
  width: 10px;
  height: 35px;
  margin-right: 15px;
  background-color: #e1e6ea;
}

.our-mission {
  width: 640px;
  color: #8d8f92;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
}

.first {
  padding-bottom: 40px;
}

.facebook, .twitter, .g, .basketball, .be {
  width: 60px;
  height: 60px;
  border: none;
  padding-left: 6px;
  margin-bottom: 116px;
}

.facebook:hover, .twitter:hover, .g:hover, .basketball:hover, .be:hover {
  background-color: #d4dbdf;
  cursor: pointer;
  transition: 0.3s ease;
}

.facebook {
  background: url(./images/facebook.png) no-repeat center;
  background-color: #d0d5d9;
}

.twitter {
  background: url(images/twitter.png) no-repeat center;
  background-color: #d0d5d9;
}

.g {
  background: url(images/g.png) no-repeat center;
  background-color: #d0d5d9;
}

.basketball {
  background: url(images/basketball.png) no-repeat center;
  background-color: #d0d5d9;
}

.be {
  background: url(images/be.png) no-repeat center;
  background-color: #d0d5d9;
}

.our-goals {
  padding-top: 150px;
  padding-left: 25px;
  width: 100px;
}

.numbers {
  display: flex;
  flex-direction: column;
}

.n01, .n02, .n03 {
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin-right: 0px;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #23b7a4;
  margin-bottom: 60px;
}

h1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 15px;
}

.our-goals-text {
  padding-top: 150px;
  padding-left: 10px;
  width: 340px;
  height: 470px;
}

.our-goals-title {
  font-family: "Quattrocento Sans";
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.our-goals-description {
  font-family: "Open Sans";
  font-size: 16px;
  color: #8d8f92;
  padding-bottom: 23px;
  line-height: 22px;
}

.our-goals-description2 {
  font-family: "Open Sans";
  font-size: 16px;
  color: #8d8f92;
  padding-bottom: 23px;
  line-height: 22px;
}

.our-team {
  padding-left: 16px;
  padding-top: 70px;
  height: 650px;
}

.our-team-title {
  font-family: "Quattrocento Sans";
  font-size: 36px;
  text-transform: uppercase;
}

.our-team-title::before {
  float: left;
  content: "";
  top: 1443px;
  width: 10px;
  height: 35px;
  margin-right: 15px;
  background-color: #e1e6ea;
}

.team-members {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.team-members .col-md-12 {
  padding-left: 0;
}

.team-members-image {
  width: 263px;
  height: 300px;
}

.description {
  display: block;
  width: 263px;
  height: 74px;
  background: #e1e6ea;
  padding-top: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-size: 16px;
}

.member-info {
  font-family: "Open Sans";
  font-size: 14px;
  color: #a2a4a8;
  padding-top: 9px;
  text-transform: none;
}

.team-members-image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.lovely-work-image1, .lovely-work-image2, .lovely-work-image, .lovely-work-img {
  opacity: 1;
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle1 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 50%;
  left: 12%;
}

.middle2 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 50%;
  left: 37%;
}

.middle3 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 50%;
  left: 62%;
}

.middle4 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 50%;
  left: 86.33%;
}

.col-md-12:hover .team-members-image {
  opacity: 0.5;
}

.col-md-12:hover .middle1 {
  opacity: 1;
  cursor: pointer;
}

.col-md-12:hover .middle2 {
  opacity: 1;
  cursor: pointer;
}

.col-md-12:hover .middle3 {
  opacity: 1;
  cursor: pointer;
}

.col-md-12:hover .middle4 {
  opacity: 1;
  cursor: pointer;
}

.col-md-12:hover .description {
  background: #3a454d;
  color: white;
  transition: 0.5s ease;
}

.social-media {
  background-color: #3a454d;
}

.social-media:hover {
  background-color: #a2a4a8;
  transition: 0.3s ease;
}

menu {
  background-color: #3a454d;
}

.work {
  padding-top: 70px;
  margin-left: 1px;
}

.work-title {
  color: white;
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-size: 36px;
}

.work-title::before {
  float: left;
  content: "";
  top: 1443px;
  width: 10px;
  height: 35px;
  margin-right: 15px;
  background-color: #4e5a62;
  margin-left: 15px;
}

.lovely-work-images {
  margin-top: 60px;
}

.lovely-work-section-1 {
  margin-bottom: 60px;
  display: flex;
  position: relative;
}

.lovely-work-section-2 {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

#lwmargin {
  margin-left: 39px;
}

.plus {
  width: 20px;
  height: 20px;
}

.lw-img-desc {
  height: 60px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
}

.image-container {
  position: relative;
  display: inline-block;
}
.image-container .lwimage-1 {
  display: block;
  width: 340px;
  height: auto;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.image-container .plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.image-container:hover .lwimage-1 {
  opacity: 0.5;
}
.image-container:hover .plus {
  opacity: 1;
  cursor: pointer;
}
.image-container:hover .lw-img-desc {
  opacity: 1;
}
.image-container .lw-img-desc {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.lovely-work-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.lovely-work-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 14px;
  border: 2px solid white;
  color: white;
  border-radius: 6px;
  padding: 14px;
  transition: 0.15s all ease-in-out;
  font-family: "Quattrocento Sans";
  cursor: pointer;
}

.lovely-work-button:hover,
.lovely-work-button:active {
  background-color: #23b7a4;
  color: white;
  border: 2px solid #23b7a4;
}

.services-title {
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-size: 36px;
  padding-top: 70px;
}

.services-title::before {
  float: left;
  content: "";
  top: 1443px;
  width: 10px;
  height: 35px;
  margin-right: 15px;
  background-color: #e1e6ea;
  margin-right: 15px;
  margin-left: 15px;
}

.service-item {
  display: flex;
}

.services-subtitle {
  font-family: "Quattrocento Sans";
  font-size: 17px;
  text-transform: uppercase;
  padding-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.services-image-1, .services-image-2, .services-image-3, .services-image-4 {
  padding-top: 90px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

.services-image-5, .services-image-6, .services-image-7, .services-image-8 {
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

.services-text {
  padding-bottom: 90px;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: #a2a4a8;
  line-height: 1.4;
}

feature {
  background-color: #3a454d;
}

.features-title {
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-size: 36px;
  padding-top: 70px;
  padding-bottom: 60px;
  color: white;
}

.features-title::before {
  float: left;
  content: "";
  top: 1443px;
  width: 10px;
  height: 35px;
  margin-right: 15px;
  background-color: #4e5a62;
  margin-right: 15px;
  margin-left: 15px;
}

.feature-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 55px;
}

.feature-title {
  color: white;
  text-transform: uppercase;
  padding-top: 40px;
  font-family: "Quattrocento Sans";
  font-size: 18px;
}

.feature-description {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
  padding-top: 20px;
  font-family: "Open Sans";
  font-size: 16px;
}

contact {
  background-color: white;
}

.contacts-title {
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-size: 36px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-title::before {
  float: left;
  content: "";
  top: 1443px;
  width: 10px;
  height: 35px;
  margin-right: 15px;
  background-color: #e1e6ea;
  margin-right: 15px;
  margin-left: 15px;
}

.map {
  position: absolute;
}

.contact-information {
  display: flex;
}

.contact-information-title {
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-size: 20px;
  padding-top: 400px;
  padding-bottom: 40px;
}

.contact-information-text {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.3;
  color: #8d8f92;
}

.first1 {
  padding-bottom: 30px;
}

.second1 {
  padding-bottom: 80px;
}

.contact-information-form {
  width: 555px;
  height: 400px;
  margin-top: 200px;
  padding-bottom: 40px;
  padding: 30px;
  z-index: 3;
  background-color: white;
}

.your-name, .your-email {
  display: flex;
  font-family: "Quattrocento Sans";
  font-size: 14px;
  text-transform: uppercase;
  color: #8d8f92;
  padding-bottom: 5px;
}

.first-form, .second-form {
  width: 240px;
  height: 44px;
  border: none;
  background-color: #eaeef1;
  padding: 10px;
  border-radius: 3px;
}

.first-form {
  margin-right: 3px;
  margin-left: 8px;
  margin-bottom: 30px;
}

.your-message {
  display: flex;
  font-family: "Quattrocento Sans";
  font-size: 14px;
  text-transform: uppercase;
  color: #8d8f92;
  padding-bottom: 11px;
}

.third-form {
  width: 488px;
  height: 160px;
  border: none;
  background-color: #eaeef1;
  padding: 10px;
  margin-right: 3px;
  margin-left: 8px;
  margin-bottom: 40px;
  border-radius: 3px;
  display: flex;
  align-content: flex-start;
}

.send-message-button {
  width: 170px;
  text-transform: uppercase;
  font-size: 14px;
  border: 2px solid white;
  background-color: #23b7a4;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: 15px;
  margin-left: 7px;
  transition: 0.15s all ease-in-out;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.send-message-button:hover,
.send-message-button:active {
  background-color: white;
  color: #23b7a4;
  border: 2px solid #23b7a4;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #3a454d;
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-medias {
  cursor: pointer;
  width: 100%;
}/*# sourceMappingURL=style.css.map */